        body {
		padding-top : 200px;
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
			background: url(../img/intro-bg.jpg) no-repeat center center;
			background-size: cover;
			background-position: center; /* Posisikan gambar di tengah */
            background-attachment: fixed; /* Membuat gambar latar belakang tetap saat menggulir */
            
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            flex-wrap: wrap; /* Ini memungkinkan tombol untuk meluncur ke baris baru jika perlu */
        }

        .button {
    display: inline-block;
    margin: 30px;
    padding: 30px 50px;
    font-size: 75px;
    text-align: center;
    text-decoration: none;
    border-radius: 19px;
    cursor: pointer;
    min-width: 150px; /* Lebar minimum tombol */
    position: relative;
    overflow: hidden;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.button::before {
    content: "";
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    width: 120%;
    height: 240%;
    transition: transform 0.3s;
}

.button:hover {
    opacity: 0.9;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-6px);
}

.button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

        /* Tombol WhatsApp */
        .whatsapp-button {
		background: linear-gradient(45deg, #25c34a, #2ab318); /* Efek gradient hijau WhatsApp */
		color: #fff;
}

        /* Tombol Shopee */
        .shopee-button {
		background: linear-gradient(45deg, #ff7b34, #ff5722); /* Efek gradient oranye Shopee */
		color: #fff;
}

        /* Tombol Tokopedia */
        .tokopedia-button {
		background: linear-gradient(45deg, #25c34a, #4f9d4e); /* Efek gradient biru Tokopedia */
		color: #fff;
}
.bottom-link {
    position: fixed;
    bottom: 20px; /* Sesuaikan dengan jarak dari bawah */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}
        .button:hover {
            opacity: 0.8;
        }
		h1{
		margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
		color: #fff;
		font-size: 75px;
		}
		
		p{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
		color: #fff;
		font-size: 25px;
		}
        /* Responsif untuk mode mobile */
        @media (max-width: 750px) {
            .button-container {
                flex-direction: column;
                align-items: center; /* Pusatkan tombol pada mode mobile */
            }
        }
